.zx-text-center {
  text-align: center !important;
}

.zx-text-justify {
  text-align: justify !important;
}

.zx-text-left {
  text-align: left !important;
}

.zx-text-right {
  text-align: right !important;
}
